.container {
    width: 960px;
    display:grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);

}

.square {
    background-color:green;
    
}

.hovered {
    background-color:red;
}

